<template>
    <main>
      <header class="responsive-background">
        <div class="container">
          <div class="header-details">
            <span class="text-white">1stQuest / Trip Planner</span>
            <h2 class="text-white">{{ data.title }}</h2>
            <p class="text-white">{{ data.overView }}</p>
            <p class="text-white" v-if="data.blogUrl">
              Read Story of this plan on
              <a :href="data.blogUrl" class="base-color-text" target="_blank">1stQuest Blog</a>
            </p>

          </div>
        </div>
      </header>
      <section class="trip-timeline">
        <div class="container">
          <div class="timeline">
            <div class="timeline-item"></div>
            <div class="timeline-item" v-for="(city, index) in data.cities">
              <div class="city-title">
                <span class="number">
                  {{ index+1 }}
                </span>
                <div>
                  <span class="name"><b>{{city.name}}</b></span>
                  <br>
                  <span class="days">{{city.days}} Days</span>
                </div>
              </div>
              <p class="city-details">
                {{ city.thingsToDo }}
              </p>
              <div class="city-images">
                <img :src="img.src" alt="" v-for="img in city.images" width="180">
              </div>
              <div class="city-services">
                <service-card
                  v-for="service in city.services"
                  :title="service.title"
                  :min="service.price.min"
                  :max="service.price.max"
                  type="service"
                  :icon="service.type"
                  :details="service.subTitle"
                  link="sss"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</template>

<script>
  import ServiceCard from "../../components/ServiceCard";
  export default {
    name: "_slug",
    components: {ServiceCard},
    data: ()=>({
      data: {}
    }),
    asyncData({$axios, params}){
      return $axios.$get('/itinerary/' + params.slug)
        .then((res)=>{
          return {
            data: res.data
          }
        })

    },
    mounted(){
      console.log(this.data)
    }
  }
</script>

<style lang="scss" scoped>
  main {
    margin-bottom: 30px;
    .responsive-background {
      padding: 140px 0;
      width: 100%;
      background: url('/main-bg.jpg');
      background-size: cover;
      background-position: center;

      .container {
        .header-details {
          max-width: 700px;
          h2 {
            margin: 15px 0;
          }
        }
      }
    }
    .trip-timeline {
      margin-top: -100px;
      .timeline {
        position: relative;
        min-height: 200px;
        .timeline-item:not(:first-child){
          margin-bottom: 70px;
        }
        .city-images {
          img {
            display: inline-block;
            margin-right: 10px;
            border-radius: 4px;
          }
        }
        .city-title {
          position: absolute;
          left: 0;
          .number {
            float: left;
            font-size: 15px;
            display: inline-block;
            height: 30px;
            width: 30px;
            text-align: center;
            line-height: 30px;
            border-radius: 50px;
            border: 1px solid #7f828b;
            margin-right: 5px;
            margin-top: 10px;
          }
          .days {
            font-size: 11px;
          }
          div {
            display: inline-block;
            float: left;
          }
        }
        .city-services {
          display: flex;
        }
        &:before {
          content: 'Trip Timeline';
          display: block;
          position: absolute;
          left: 0;
          top: -8px;
          color: #d9e0e6;
        }
        .timeline-item {
          padding-left: 150px;
          position: relative;
          min-height: 200px;
          &:before {
            content: '';
            display: block;
            position: absolute;
            left: 105px;
            top: 7px;
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: 2px solid #373d45;
          }
          &:first-child:before {
            border-color: #d9e0e6;
          }
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 110px;
            top: 22px;
            bottom: -2px;
            width: 1px;
            border-left: 1px dashed #d9e0e6;
          }
        }
      }
    }
  }
</style>
