<template>
    <section>
      <search-bar :result-page="true" @changeResults="fetchData"/>
      <div class="section-container">
        <div class="list">
          <div class="list-item" v-for="it in itineraries.data" :key="it.slug">
            <h5>
              <nuxt-link :to="'/results/' + it.slug" class="text-dark">
                {{it.title}}
              </nuxt-link>
            </h5>
            <p>From {{it.totalPrice.min}}$ per person.</p>
            <div class="images">
              <img v-for="(city,index) in it.cities" v-if="index < 3" :src="getImageAttr(city.images[0],'src')" :alt="getImageAttr(city.images[0],'alt')" :title="getImageAttr(city.images[0],'title')" width="110">
              <span class="more-images" v-if="it.cities.length > 3">...</span>
            </div>
          </div>
        </div>
        <div class="map">
          <gmap-map
            :center="map.center"
            :zoom="12"
            style="width:100%;  height: 400px;"
          >
            <gmap-marker
              :key="index"
              v-for="(m, index) in map.markers"
              :position="m.position"
              @click="map.center=m.position"
            ></gmap-marker>
          </gmap-map>
        </div>
      </div>
    </section>
</template>

<script>
  import SearchBar from "@/components/SearchBar";
  export default {
    name: "Results",
    components: {SearchBar},
    middleware: 'has_filter',
    layout: 'result',
    data: () => ({
      itineraries: [],
      map:{
        center: { lat: 45.508, lng: -73.587 },
        markers: [],
        places: [],
        currentPlace: null
      }
    }),
    created(){
      this.fetchData()
    },
    methods: {
      fetchData(){
        let filters = this.$store.state.selectedFilters
        let cities = []
        filters.cities.forEach((el)=>{
          cities.push(el.slug)
        })
        this.$axios.$get('/itineraries',{
          params: {
            cities: cities,
            startDate: filters.month ? filters.month.from : null,
            passengersCount: filters.passenger
          }
        })
          .then(data=>{
            this.itineraries = data
          })
      },
      getImageAttr(img, prop){
        if(img && img.hasOwnProperty(prop)){
          return img[prop]
        }
        return false
      },
      geolocate() {
        navigator.geolocation.getCurrentPosition(position => {
          this.map.center = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };
        });
      },
      addMarker(lat,lng) {
        if (this.map.currentPlace) {
          const marker = {
            lat: lat,
            lng: lng
          };
          this.map.markers.push({ position: marker });
          this.map.places.push(this.map.currentPlace);
          this.map.center = marker;
          this.map.currentPlace = null;
        }
      },
    },
    mounted(){
      this.geolocate();
      this.$store.state.selectedFilters.cities.forEach((el)=>{
        this.addMarker(el.latitude,el.longitude)
      })
    }
  }
</script>

<style lang="scss" scoped>
  section {
    .section-container {
      display: flex;
    }
    .map {
      width: 60%;
      padding: 15px;
      iframe {
        width: 100%;
        min-height: 500px;
      }
    }
    .list {
      width: 40%;
      max-width: 520px;
      padding: 15px;
      .list-item {
        padding: 15px;
        border-radius: 10px;
        border: solid 1px #eaf0f4;
        margin-bottom: 5px;
        .images {
          display: flex;
          flex-wrap: wrap;
          img {
            display: inline-block;
            margin-right: 5px;
            margin-top: 5px;
          }
          .more-images {
            margin-top: 5px;
            width: 110px;
            height: 62px;
            line-height: 62px;
            text-align: center;
            display: inline-block;
            color: #fff;
            font-size: 30px;
            background: #b9becb;
          }
        }
      }
    }
  }
</style>
