<template>
  <div>
    <nav v-if="blackText" class="black-text-nav">
      <nuxt-link to="/" class="text-dark home-link">
        <span class="font-weight-bold">IRAN TRIP PLANNER</span>
      </nuxt-link>
    </nav>
    <nav v-else>
      <nuxt-link to="/" class="text-white home-link">
        <span class="font-weight-bold">IRAN TRIP PLANNER</span>
        <br>
        By
        <img src="https://1stquest.com/images/1stquest_logo_white.svg" alt="1stQuest Logo" width="80">
      </nuxt-link>
    </nav>
  </div>

</template>

<script>
  export default {
    name: "MainNavigation",
    props: ['blackText']
  }
</script>

<style lang="scss" scoped>
  nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 15px 24px;
    z-index: 1;
    &.black-text-nav {
      position: relative;

    }
    .home-link {
      font-size: 16px;
      span {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
</style>
