<template>
  <div class="search-bar bg-white">
    <div :class="resultPage ? 'container result' : 'container'">
      <div class="city-selector">
        <b-button @click="popover='cities'" :variant="btnClass('cities')">
          <span v-if="form.cities.length">
            <span v-for="c in form.cities">{{c.name}}, </span>
          </span>
          <span v-else>Destinations</span>
        </b-button>

        <div class="city-list popover-focus" v-if="popover=='cities'">
          <div class="selected-cities">
            <span class="b-chips" v-for="(city,index) in form.cities">
              {{ city.name }}
              <span @click="rmArr(index, form.cities)">X</span>
            </span>
          </div>
          <div class="all-cities">
            <b-form-checkbox
              v-model="form.cities"
              v-for="city in cities"
              :value="city"
              :key="city.slug"
            >
              {{ city.name }}
            </b-form-checkbox>
          </div>
          <div class="actions">
            <b-button variant="primary" @click="applyFilter">Apply</b-button>
            <b-button variant="light" @click="cancelFilter('cities')">Cancel</b-button>
          </div>
        </div>
      </div>

      <div class="month-selector">
        <b-button @click="popover='month'" :variant="btnClass('month',false)">
          <span v-if="form.month">
            <span>{{form.month.month}} </span>
          </span>
          <span v-else>All Months</span>
        </b-button>
        <div class="popover-focus month-list" v-if="popover=='month'">
          <month-picker @change="setDate" :show-year="false" :months="months" :no-default="true"/>
          <div class="actions">
            <b-button variant="primary" @click="applyFilter">Apply</b-button>
            <b-button variant="light" @click="cancelFilter('month',false)">Cancel</b-button>
          </div>
        </div>
      </div>

      <div class="week-selector">
        <b-button @click="popover='week'" :variant="btnClass('week',false)">
          <span v-if="form.week">
            <span>{{form.week.name}} </span>
          </span>
          <span v-else>All Weeks</span>
        </b-button>
        <div class="popover-focus week-list" v-if="popover == 'week'">
          <div>
            <b-form-checkbox
              v-model="form.week"
              v-for="week in weeks"
              :key="week.value"
              :value="week"
            >
              {{ week.name }}
            </b-form-checkbox>
          </div>
          <div class="actions">
            <b-button variant="primary" @click="applyFilter">Apply</b-button>
            <b-button variant="light" @click="cancelFilter('week',false)">Cancel</b-button>
          </div>
        </div>
      </div>

      <div class="passenger-selector">
        <b-button @click="popover='passenger'" :variant="btnClass('passenger',false)">
          <span v-if="form.passenger">
            <span>{{ form.passenger + ( form.passenger===1 ? ' Passenger' : ' Passengers' ) }} </span>
          </span>
          <span v-else>Passengers</span>
        </b-button>
        <div class="popover-focus passenger-list" v-if="popover == 'passenger'">
          <div class="passenger-select">
            <b-form-checkbox
              v-model="form.passenger"
              v-for="i in 10"
              :key="i"
              :value="i"
            >
              {{ i + ( i===1 ? ' Passenger' : ' Passengers' ) }}
            </b-form-checkbox>
          </div>
          <div class="actions">
            <b-button variant="primary" @click="applyFilter">Apply</b-button>
            <b-button variant="light" @click="cancelFilter('passenger',false)">Cancel</b-button>
          </div>
        </div>
      </div>

      <div class="budget-selector">
        <b-button variant="light">
          All Budget Plans
        </b-button>
      </div>
      <div>
        <b-button class="base-color-button" @click="searchFilters">
          Search
        </b-button>
      </div>


    </div>
  </div>
</template>

<script>
  export default {
    name: "SearchBar",
    props: ['resultPage'],
    data: () => ({
      status: false,
      cities: [],
      form: {
        cities: [],
        month: null,
        week: null,
        passenger: null
      },
      months: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'July', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
      weeks: [
        {value:1, name:'1 Week'},
        {value:2, name:'2 Weeks'},
        {value:4, name:'4 Weeks'}
      ],
      popover: ''
    }),
    created(){
      this.$axios.$get('/cities')
        .then(data => {
          this.cities = data.data
          console.log(this.cities)
        })
    },
    methods: {
      rmArr(index,arr){
        arr = arr.splice(index,1);
      },
      btnClass(item,isArr=true){
        if (isArr)
          return this.form[item].length ? 'primary' : 'light';
        return this.form[item] ? 'primary' : 'light'
      },
      setDate(date){
        this.form.month = date
        console.log(this.form.month)
      },
      cancelFilter(item,isArr=true){
        if (isArr)
          this.form[item] = []
        else
          this.form[item] = null

        this.popover = ''
      },
      applyFilter(){
        this.popover = ''
      },
      searchFilters(){
        this.$store.commit('SET_FILTERS',this.form)
        this.$router.push({ path: 'results' })
        this.popover = ''
        this.$emit('changeResults')
      }
    },
    computed: {

    },
    mounted(){
      if(this.resultPage)
        this.form = Object.assign({}, this.$store.state.selectedFilters)
    }
  }
</script>

<style lang="scss">
  .search-bar {
    width: 100%;
    height: 56px;
    padding: 9px 0;
    border: solid 1px #eaf0f4;
    .container {
      display: flex;
      justify-content: left;
      &.result {
        max-width: 100% !important;
      }
      > div {
        margin-right: 10px;

      }
    }
  }

  .popover-focus {
    opacity: 1;
    transition: 0.1s opacity, .3s top;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 60px;
    .actions {
      padding-top: 15px;
      overflow: hidden;
      button {
        float: right;
        margin-left: 5px;
      }
    }
    &.passenger-list {
      padding: 15px;
      min-width: 250px;
      .custom-control {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .passenger-select {
        max-height:  200px;
        overflow-y: scroll;
      }
    }
    &.week-list {
      padding: 15px;
      min-width: 250px;
      .custom-control {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    &.month-list{
      padding: 15px;
      .month-picker__container {
        max-width: 220px;
        border: none;
        .month-picker {
          border: none !important;
          outline: none;
          box-shadow: none;
          .month-picker__month {
            flex-basis: calc(33.333% - 20px) !important;
            margin: 10px !important;
            font-size: 12px;
            &.selected {
              background: #007bff;
              box-shadow: none;
            }
          }
        }
      }
    }
    &.city-list {
      min-width: 300px;
      padding: 15px;
      .custom-control {
        padding-top: 10px;
        padding-bottom: 10px;
      }
      .all-cities {
        max-height: 250px;
        overflow-y: scroll;
      }
      .selected-cities {
        min-height: 40px;
        padding-bottom: 10px;
        border-bottom: 1px solid #eaf0f4  ;
      }
    }
  }

  .b-chips {
    height: 29px;
    border-radius: 4px;
    background-color: #deebff;
    line-height: 29px;
    display: inline-block;
    padding: 0 8px;
    margin-right: 5px;
    span {
      display: inline-block;
      height: 29px;
      padding: 0 8px;
      text-align: center;
      float: right;
      cursor: pointer;
    }
  }
</style>
