<template>
    <div class="card">
      <i :class="`mdi mdi-${icon} service-icon`"></i>
      <a :href="link" v-if="link" class="more-link text-black-50">
        <i class="mdi mdi-launch">

        </i>
      </a>
      <div>
        <strong>{{ title }}</strong>
      </div>
      <div>
        {{ details }}
      </div>
      <div class="base-color-text" v-if="min && max">Between ${{min}} - ${{max}}</div>
      <div class="base-color-text" v-else-if="min">${{min}}</div>
    </div>
</template>

<script>
  export default {
    name: "ServiceCard",
    props: [
      'title',
      'details',
      'min',
      'max',
      'type',
      'icon',
      'link'
    ]
  }
</script>

<style lang="scss" scoped>
  .card {
    position: relative;
    padding: 10px 10px 10px 30px;
    width: calc(50% - 10px);
    margin-right: 10px;
    .mdi.service-icon {
      position: absolute;
      left: 10px;
    }
    .more-link {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
 .mdi-visa:before {
   content: '\f59f'
 }
  .mdi-insurance:before {
    content: '\f14c'
  }
  .mdi-bus:before {
    content: '\f0e7';
  }
  .mdi-pickup:before {
    content: '\f10b';
  }
  .mdi-hotel:before {
    content: '\f146';
  }
  .mdi-private:before {
    content: '\f10b';
  }
</style>
