@import "vars.scss";

html {
  font-family: Roboto, sans-serif;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.base-color-text {
  color: $baseColor;
}

.base-color-button {
  background-color:$baseColor ;
  color: #fff;
  border: none;
}


::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
