<template>
  <div>
    <main-navigation />
    <nuxt />
  </div>
</template>

<style>

</style>
<script>
  import MainNavigation from "~/components/MainNavigation";
  export default {
    components: {MainNavigation}
  }
</script>
