<template>
    <div>
      <main-navigation :blackText="true" />
      <nuxt />
    </div>
</template>

<script>
  import MainNavigation from "../components/MainNavigation";
  export default {
    name: "result",
    components: {MainNavigation}
  }
</script>

<style scoped>

</style>
