<template>
  <main>
    <figure class="main-background">
      <img src="/main-bg.jpg" alt="Hills Picture">
      <figcaption>
        <div class="container">
          <h1 class="font-weight-bolder text-white">Plan Your trip to Iran</h1>
          <p class="text-white">
            Find or create your best plan to visit Iran based on +300 plans designed by professional tour guides and travelers
          </p>
        </div>
      </figcaption>
    </figure>
    <div class="home-search-bar" >
      <search-bar/>
    </div>
  </main>
</template>

<script>
import MainNavigation from "~/components/MainNavigation"
import SearchBar from "../components/SearchBar";

export default {
  components: {
    SearchBar,
    MainNavigation,
  }
}
</script>

<style lang="scss">
  main {
    position: relative;
    figure {
      position: relative;
      img {
        max-width: 100vw;
        max-height: 100vh;
        width: 100%;
      }

      figcaption {
        position: absolute;
        left: 0;
        top: calc(50% - 180px);
        bottom: 0;
        right: 0;
        h1, p{
          max-width: 513px;
        }
      }
    }

    .home-search-bar {
      width: 100%;
      position: absolute;
      top: calc(50% - 28px);
    }
  }
</style>
